
<html  xmlns:th="https://www.thymeleaf.org">
<head>
  <head>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
  </head>
</head>
<body>
<h1>STARSHIPS!</h1>
  <div class = "starships" th:each="starship: ${starships}">
    <div class = "starships" th:object="${starship}">
      <dl>
        <dt>Name</dt>
        <dd th:text="*{name}"></dd>
      </dl>
      <dl>
        <dt>Fuel Capacity</dt>
        <dd th:text="*{fuelCapacity}"></dd>
        <a th:href="'/starships/' + *{id}">
          <h2 th:text="*{name}"></h2>
        </a>
      </dl>


    </div>

  </div>
</body>
</html>